<div class="modal fade" id="allowStudent">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="allowEmployee">Allow student</h4>
                <button type="button" class="close" data-dismiss="modal"><span>x</span></button>
            </div>
            <div class="modal-body">
                <form action="Allow" method="post">
                    <div class="form-group">
                        <input type="hidden" name="testId" value="@ViewBag.testId"/>
                        <label>Email</label>
                        <input class="form-control" name="email"/>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" data-save="modal">Done</button>
            </div>
        </div>
    </div>
</div>