@page
@model RegisterModel

@{
    ViewData["Title"] = "";
}

<style>
    .form {
        margin: 20px auto;
        width: 700px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
   
    .form__container {
        width: 275px;
        display: flex;
        flex-direction: column;
    }

    .form__title {
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        margin-bottom: 40px;
        font-size: 25px;
        width: 100%;
        line-height: 90px;
        text-align: center;
        color: #fff;
        background-color: #37346b
    }


    .form-control {
        border-radius: 25px;
    }

    .form__button {
        display: inline-block;
        color: #ffffff;
        border-radius: 25px;
        font-family: Verdana;
        width: auto;
        height: auto;
        font-size: 16px;
        padding: 10px 58px;
        background: #6863ca;
        border: 0;
    }



        .form__button:hover, .form__button:active {
            color: #ffffff;
            background: #37346b;
        }

    .form__text {
        font-size: 12px;
    }

    p {
        margin-top: 10px;
        text-align: center;
    }
</style>

<body>
<h1>@ViewData["Title"]</h1>
<div class="d-flex justify-content-center" style="margin-top: 20px">
    <i class="fas fa-users fa-5x"></i>
</div>
<form asp-route-returnUrl="@Model.ReturnUrl" method="post">
    <div class="form">
        @*<h2 class="form__title">TestingStudentKnowledge</h2>*@
        <div class="form__container">
            <div class="form-group">
                <input asp-for="Input.FirstName" class="form-control" placeholder="First Name"/>
                <span asp-validation-for="Input.FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">

                <input asp-for="Input.LastName" class="form-control" placeholder="Last Name"/>
                <span asp-validation-for="Input.LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input asp-for="Input.Email" class="form-control" placeholder="Email"/>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input asp-for="Input.Password" class="form-control" placeholder="Password"/>
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input asp-for="Input.ConfirmPassword" class="form-control" placeholder="Confirm Password"/>
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            <button class="form__button" type="submit">Register</button>
            <p>Have an account <a asp-page="./Login" asp-route-returnUrl="@Model.ReturnUrl">Sign in</a></p>
        </div>
    </div>
</form>

    @section Scripts {
        <partial name="_ValidationScriptsPartial" />
    }
</body>

